DAVIS/
DAVIS-2017-trainval-480p.zip
data/
__pycache__/
fastdvdnet_env/
logs_test/
model.pth
model_clipped_noise.pth
img/9831-teaser.gif
img/arch.png
img/psnrs.png
img/runtimes_all_log.png
data_overfit/
logs_overfit/
logs_overfit_dw/
results_overfit/
logs_overfit_1/
results/
logs_all_data/
results_data_all/
logs_small_3f/
logs_small_3f/log.txt
